<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.example.basicphonegap"
    version   = "1.0.0">

    <name>Basic Phonegap App</name>

    <description>
        Basic company information app
    </description>

    <author href="" email="mithsee@gmail.com">
        MithSi
    </author>

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="webviewbounce" value="false" />
            
    <icon src="img/icon.png" />
</widget>